.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px; 
    box-sizing: border-box; 
    color: white;
    z-index: 10;
  }

.logoImage {
  height: 30px; 
  width: auto; 
}
