.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Header soll die gesamte Breite einnehmen */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px; /* 40px Padding für oben, rechts, unten und links */
    box-sizing: border-box; /* Verhindert, dass Padding die Gesamtbreite überschreitet */
    color: white;
    z-index: 10;
  }

.logo h1 {
  font-size: 24px;
  font-weight: bold;
}

.logoImage {
  height: 40px; /* Passe die Höhe des Logos an */
  width: auto;  /* Behalte das Seitenverhältnis bei */
}

.nav .loginButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.nav .loginButton:hover {
  background-color: #0056b3;
}