.forgotPasswordPage {
  position: relative;
  height: 100vh;
  background-image: url('../../assets/images/background-two.jpg'); /* Pfad zum Hintergrundbild */
  background-size: cover;
  background-position: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dunkles Overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.forgotPasswordContainer {
  background-color: #1B1B22CC; /* Gleicher Hintergrund wie Login/Signup */
  padding: 30px;
  border-radius: 50px; /* Gleiche Rundung wie Login/Signup */
  width: 90%;
  max-width: 400px;
  text-align: center;
  z-index: 3;
}

.forgotPasswordContainer h1 {
  font-size: 2rem; /* Gleiche Schriftgröße wie Login/Signup */
  margin-bottom: 20px;
}

.forgotPasswordContainer p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #ccc;
}

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputGroup input {
    background: none;
    border: none;
    font-size: 1rem;
    padding-left: 10px;
    width: 100%;
    background: #1C1A20CC;
    padding: 10px 10px 10px 40px; /* Platz für das Icon innerhalb des Input-Felds */
    border: 1px solid rgb(43,56,188);
   border-radius: 10px;
   width: 300px;
    
  }
  
  .inputGroup input::placeholder {
    color: white;
  }

  .inputGroup input[type="email"] {
    background-image: url('../../assets/images/mail.svg'); /* Pfad zum Mail-Icon */
    background-repeat: no-repeat;
    background-position: 10px center; /* Position des Icons innerhalb des Input-Felds */
    background-size: 16px 16px; /* Größe des Icons */
  }
.emailInput::placeholder {
  color: #aaa;
}


