.homepage {
  position: relative;
  height: 100vh;
  color: white;
  text-align: center;
}

.background {
  background-image: url('/src/assets/images/background-one.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.overlay {
  
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.4) 30%, rgba(0,0,0,0.4) 70%, rgba(0,0,0,1));
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: white;
}

.emailForm {
  display: flex;
  gap: 10px;
}

.emailInput {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  width: 300px;
}

.signupButton {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


