.loginpage {
    position: relative;
    height: 100vh;
    background-image: url('../../assets/images/background-two.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.loginLinks {
    margin-top: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #1B1B22CC;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    h2{
        font-size: 18px;
    }
}

.centerText {
    margin: 0;
}

