.resetPasswordPage {
    position: relative;
    height: 100vh;
    background-image: url('../../assets/images/background-two.jpg');
    /* Pfad zum Hintergrundbild */
    background-size: cover;
    background-position: center;
    color: white;
}