.signupPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/images/background-three.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}