:root{
    background-color: black;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.6);
  padding: 10px 10px;
  transition: opacity 0.3s;
  z-index: 2;
  opacity: 1;
  box-sizing: border-box;
  min-height: 38px;
}

.headerHidden {
  opacity: 0;
  pointer-events: none;
}

.backButton {
  background: blue;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
}

.backIcon {
  width: 18px;
  height: 18px;
}

.title {
  flex-grow: 1;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resolutionSelector {
  display: flex;
  align-items: center;
  gap: 3px;
  white-space: nowrap;
  padding-right: 20px;
}

.resolutionLabel {
  font-weight: 500;
  font-size: 0.8rem;
  color: white;
}

.resolutionSelect {
  padding: 2px 6px;
  font-size: 0.9rem;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-weight: lighter;
  cursor: pointer;
  margin: 0 0 0 4px;
  width: 70px;
}

.logo {
  width: 24px;
  height: 24px;
}

.videoPlayer {
  width: 100%;
  max-height: 90vh;
  background: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  margin-top: 15px;
  font-size: 1rem;
  color:white;
  margin-left: 20px;
  margin-right: auto;
  height: 50px;
  display: flex;
  align-items: center;
}

.descriptionAndResolution {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1rem;
  padding: 0 0.5rem;
}

.resolutionSelect:focus {
  outline: none;
  border-color: #0056b3; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.loader {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .resolutionSelector {
    display: none;
  }
}