@font-face {
    font-family: 'DM Sans';
    src: url('/static/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900; /* Gewichtsspanne von 100 bis 900 */
    font-style: normal;
}
  
@font-face {
    font-family: 'DM Sans';
    src: url('/static/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}
  
* {
    font-family: 'DM Sans', sans-serif;
}
  
  

body{
    margin: 0;
}

h1{
    font-size: 48px;
}

p{
    font-size: 18px;
}

button {
    background-color: rgb(45, 62, 223);
    color: white;
}
  
button:hover {
    background-color: rgba(45, 62, 223, 0.8); 
}